* {
  margin: 0;
  font-family: Arial;
}

/* --- home page ---   */
.homePage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30vh;

}
/* --- end - home page ---   */


#main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

#header {
  height: 10vh;
  background: #2c80b9;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    text-decoration: none;
    color: #fff;

    &:hover {
      color: #ccc;
      transition: color 300ms ease-in-out;
    }
  }
}
