* {
  margin: 0;
  font-family: Arial;
}

/* ==========================================================================
  HEADER
========================================================================== */
.header {
  background-color: #2c80b9;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.header__item {
  margin-right: 20px;
  color: #FFF;
  text-decoration: none;
  padding: 20px;
  text-transform: uppercase;
}
.header__item:hover {
  color: #2c80b9;
  background-color: #FFF;
}

/* ==========================================================================
  HOME PAGE
========================================================================== */
.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30vh;

}

/* ==========================================================================
  HACKTOBER PAGE
========================================================================== */
.pageHacktober {
  margin-top: 5vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2{
    margin: 15px;
  }
}

/* ==========================================================================
  RANDOM USERS PAGE
========================================================================== */
.contentCards{
  padding: 10px;
  width: 100vw;
  font-family: Arial;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
}
.contentCards__card{
  background-color: #82A0BC;
  color: #FFF;
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40vw;
}
.card__image{
  border-radius: 100%;
}
.card__name{
  text-transform: capitalize
}
.card__description{
  background-color: #82A0BC;
  color: #FFF;
  padding: 5px;
}


#main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

#header {
  height: 10vh;
  background: #2c80b9;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    text-decoration: none;
    color: #fff;

    &:hover {
      color: #ccc;
      transition: color 300ms ease-in-out;
    }
  }
}

/* ==========================================================================
  CAT
========================================================================== */

.cat {
  &__main {
    display: flex;
    justify-content: center;
  }
  
  &__image {
    margin: 190px;
  }
}
